/* ===== Colors ===== */
$rojo: red;
$verde: green;
$negro: black;
$blanco: white;
$secColor: #f0aa5b;
$mainColor: #212529;
$grisClaro: #efefef;
$body-color: #ebebeb;
$sidebar-color: #212529;
$primary-color: #26ce61;
$primary-color-light: #F6F5FF;
$toggle-color: #DDD;
$text-color: #ffffff;

/* ====== Transition ====== */
$tran-03: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.3s ease;
$tran-05: all 0.3s ease;
